# Import Dependencies

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.datasets import make_regression
from sklearn.linear_model import LinearRegression

# Import Files

In [4]:
pb_df = pd.read_csv('pb_winning_numbers_03-18-2017.csv')
pb_df.head(10)

     DrawDate  WB1  WB2  WB3  WB4  WB5  PB    PP
0  03/15/2017   30   16   41   48   53  16   3.0
1  03/11/2017   57   41   50   26    1  11   2.0
2  03/08/2017   42   23   59   46   33   4   2.0
3  03/04/2017    2   22   63   19   18  19   3.0
4  03/01/2017   16   10   52   40   55  17  10.0
5  02/25/2017    6   62   32   47   65  19   2.0
6  02/22/2017   52   10   61   28   13   2   2.0
7  02/18/2017    9    3   33    7   31  20   3.0
8  02/15/2017   33    5   42   38   28  19   2.0
9  02/11/2017   37   64   17    9    5   2   2.0

# Data Info

In [6]:
pb_df.dtypes

DrawDate     object
WB1           int64
WB2           int64
WB3           int64
WB4           int64
WB5           int64
PB            int64
PP          float64
dtype: object

In [7]:
#search for null values
for column in pb_df.columns:
    print(f"Column {column} has {pb_df[column].isnull().sum()}) null values")

Column DrawDate has 0) null values
Column WB1 has 0) null values
Column WB2 has 0) null values
Column WB3 has 0) null values
Column WB4 has 0) null values
Column WB5 has 0) null values
Column PB has 0) null values
Column PP has 559) null values

In [8]:
#drop null rows
pb_df = pb_df.dropna()

# Basic Info

In [18]:
#find mode
pb_df.loc[:,"WB1"].mode()

0    17
1    40
2    41
dtype: int64